name: Publish TechDocs Site

on:
  push:
    branches: [main]
    paths:
      - "docs/**"
      - "mkdocs.yaml"
      - "catalog-info.yaml"

jobs:
  publish-techdocs:
    runs-on: ubuntu-latest

    env:
      AZURE_STORAGE_ACCOUNT_NAME: ${{ secrets.AZURE_STORAGE_ACCOUNT_NAME }}
      AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}

      ENTITY_NAMESPACE: default
      ENTITY_KIND: Component
      ENTITY_NAME: payment-service

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install TechDocs CLI
        run: npm install -g @techdocs/cli

      - name: Install MkDocs
        run: pip install "mkdocs-techdocs-core==1.*"

      - name: Generate TechDocs
        run: |
          techdocs-cli generate \
            --no-docker \
            --source-dir . \
            --output-dir site

      - name: Publish TechDocs to Azure Blob Storage
        run: |
          techdocs-cli publish \
            --publisher-type azureBlobStorage \
            --storage-name techdocs01 \
            --entity $ENTITY_NAMESPACE/$ENTITY_KIND/$ENTITY_NAME \
            --directory site \
            --azureAccountName $AZURE_STORAGE_ACCOUNT_NAME \
            --azureAccountKey $AZURE_STORAGE_ACCOUNT_KEY
